@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:300,400,600&display=swap');
.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

body {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 16px;
    min-width: 100vw;
    min-height: 100vh;
    background-image: url("images/bg-pattern-desktop.svg");
    background-repeat: no-repeat;
    background-size: cover;
}

.grid {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: stretch;
}

.hero-image img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

@media only screen and (min-width:893px) {
    .grid {
        display: grid;
        height: 100vh;
        grid-template: 1fr/ 60% 40%;
    }
    .hero-mage {}
}